body {
    margin: 0;
    background-color: #FFB4E3;
    color: #045302;
}

.nav-link {
    color: #5a1e5a;
    text-decoration: none;
}

main {
    max-width: 600px;
    width: 100%;
    margin: 24px auto;
}

section {
    margin: 24px 0;
    padding: 16px;
}

#title {
    font-size: 40px;
    font-weight: 800;
}

.d-inline {
    display: inline;
}

nav > ul {
    list-style: none;
}

.text-center {
    text-align: center;
}

#avatar {
    display: block;
    width: 200px;
    height: 200px;
    margin: 32px auto;
    background-image: url(./images/glowing.png);
    background-size: cover;
    background-position: 50%;

    border-radius: 9999px;
}