*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.forest{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items:center;
    justify-content: safe;
}
nav .Amethyst{
    width: 80px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
nav ul li a{
    text-decoration: none;
    color: #8c0885;
    font-size: 17px;
}