*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    background-color: transparent;
}

.forest {
    width: 100%;
    height: 100vh;
    background-position: center; 
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items:center;
    justify-content: center;
    
}
nav ol li a{
    text-decoration: none;
    color: #8c0885;
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    background-image:linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    background-image:linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
    font-family: 'Dancing Script', cursive;
}


nav ul li{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    color: #5a1e5a;
    font-weight: normal;
    transition: 0.5s;
    text-align: justify-all;
    margin: 20px 0;
    -webkit-background-image:linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
}

h1,h2,h3 {
    font-size: 36px;
    font-family: 'Dancing Script', cursive;
    color: #5a1e5a;
    font-weight: normal;
    transition: 0.5s;
    text-align: center;
    margin: 20px 0;
    -webkit-background-image:linear-gradient(90deg, #efd5ff 0%, #515ada 100%);

}

h1:hover{
    -webkit-text-stroke: 2px black;
    color: transparent;
}
a.button {
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #8c0885;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video{
    position: relative;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: 100%;
    }
}