*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.forest{
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
nav{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items:center;
    justify-content: safe;
    
}
nav .Amethyst{
    width: 40px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    background-image:linear-gradient(90deg, #efd5ff 0%, #515ada 100%);

}

nav ul li a{
    text-decoration: none;
    color: #8c0885;
    font-size: 17px;
    
}
.content{
    text-align: center;
        
}
.content h1{
    font-size: 20px;
    color: #5a1e5a;
    font-weight: 100;
    transition: 0.5s;
}
.content h1:hover{
    -webkit-text-stroke: 2px black;
    color: transparent;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #ffffff;
    font-size: 24px;
    border: 2px solid #8c0885;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 20px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (max-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: 100%;
    }
}